<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3 mb-3">
                <a href="/" class="navbar-brand">
                    <img src="{{ asset('bundles/coreshopfrontend/images/logo-full.svg', 'coreshop_frontend') }}" title="CoreShop" alt="CoreShop" class="img-fluid" width="160"/>
                </a>
                <div class="gap-3 mt-3">
                    <div>CoreShop GmbH</div>
                    <div>Zeileisstraße 6</div>
                    <div>4600 Wels</div>
                    <div>Mobile +43 660 36 177 85</div>
                    <div>Email <a target="_self" href="mailto:info@coreshop.org"><span class="link-description">info@coreshop.org</span></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footerpre">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7 mb-2 mb-xl-0">
                © CoreShop GmbH (GPLv3 and CoreShop Commercial License) | <a class="text-white text-decoration-none" target="_self" href="https://www.coreshop.org"><span class="link-description">https://www.coreshop.org</span></a>
            </div>
        </div>
    </div>
</div>
